*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	background: -webkit-linear-gradient(left, #5DADE2, #00c6ff);
}

.main-div{
	width: 100%;
	height:100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.center-div{
	width: 90%;
	height: 70vh;
	/*  background: -webkit-linear-gradient(left, #5DADE2, #00c6ff);  */
	padding: 20px 0 0 0;
	box-shadow: 0 10px 20px 0 rgba(0,0,0,.03);
	border-radius: 10px;
}
h1{
	border-bottom: 4px solid white;
	font-size: 30px;
	color: #000;
	text-align: center;
	margin-top: -20px;
	margin-bottom: 20px;
	font-weight: bold;
}
table{
	border-collapse: collapse;
	background-color: #fff;
	box-shadow: 0 10px 20px 0 rgba(0,0,0,.03);
	border-radius: 10px;
	margin: auto;
}
th,td{
	border: 2px solid #f2f2f2;
	padding: 8px 30px;
	text-align: center;
	
}
th{
	
	color: white;
	background:black;
	font-size: 18px;
	font-weight: bold;
}
td{
	color: white;
	font-size: 16px;
}
.id{
	background: black;
}
.email-style{
	font-size: 14px;
	color: grey;
	display: inline-block;
	background: #f2f2f2;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	line-height: 30px;
	padding: 0 14px;
}
.post-class{
	text-transform: uppercase;
}

.btn1{
		color:red;
		background:white;
		padding: 9px;
		font-size: 13px;
		font-weight: bold;
		border: 3px solid red;
		border-radius: 14px;
		cursor: pointer;
}
.btn2{
		color:green;
		background:white;
		padding: 3px;
		font-size: 13px;
		font-weight: bold;
		border: 3px solid green;
		border-radius: 14px;
		cursor: pointer;
}
.btn2 a{
	color: green;
	background:white;
}
.btn2 a .fa{
	font-size: 15px;
}
.btn2 a .fa .fa-trash{
	color: green;
	background: white;	
}

/* NAVIGATION BAR */
		nav{
			width: 100%;
			height: 35px;
			background: black;
			line-height: 35px;
			padding:0px 100px;
			position: fixed;
			z-index : 1;
		}
		nav .logo{
			font-weight: bold;
			letter-spacing: 1.5px;
		}
		nav .logo p{
			font-size: 25px;
			float: right;
			color: white;
			background: black;
		}
		nav ul{
			float:left;
		}
		nav ul li{
			display: inline-block;
			list-style: none;
		}
		nav ul li a{
			color: white;
			background: black;
			text-decoration: none;
			font-size: 30px;
			padding: 0px 90px;
			font-weight: bold;
		}
		nav ul li a:hover{
			color: grey;
			background: white;
			border-radius: 14px;
		}